html {
  background-color: white;
  color: black;
}

span.aiTri {
  color: magenta;
}

span.yourTri {
  color: #33D685;
}

h1 {
  font-family: arial;
  position: relative;
  margin: auto;
  text-align: center;
  color: black;
  font-weight: bold;
}

span.green {
  color:  #33D685;
}

.trongame ul {
  padding: 0px;
  height: 490px;
  display: block;
  top: 15%;
  width: 490px;
  background-color: #D6EBFF;
  border: 1px solid black;
  margin: auto;
}

.trongame div.grid-square {
  display: block;
  float: left;
  height: 7px;
  width: 7px;
  position: relative;
}

.trongame div.crash {
  background-color: yellow;
}

h3.instructions {
  font-family: arial;
  text-align: center;
}

.trongame div.lives {
  font-family: arial;
  text-align: center;
}


.trongame button {
  display: none;
  background: #FF3D3D;;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  top: 15px;
  text-align: center;
  margin: auto;
  position: relative;
  border: none;
}

.trongame button:hover {
  background: #FFCC66;
}

.trongame div.cycle {
  background-color: #33D685;
}

.trongame div.ai {
  background-color: magenta;
}


h2 {
  font-family: arial;
  text-align: center;
}



div.leader-board {
  background-color: white;
  display: inline-block;
  border-radius: 8px;
  height: 30vw;
  width: 25vh;
  margin-left: 10%;
  margin-right: 20px;
}
